run = "npm run start"
entrypoint = "app/(dashboard)/dashboard/page.tsx"

[nix]
channel = "stable-24_05"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin:./node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm install && npx prisma generate && npx prisma db push && npm run build"]

[[ports]]
localPort = 3000
externalPort = 80
